.bg {
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/01/71/37/1000_F_301713732_SW8E90Y5iGNIjqjwGfDE6MAbnZZt53JO.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }